* {
  font-family: "Lato";
}

a {
  text-decoration: none;
  font-style: italic;
  color: #6A7C84;
}

ul {
  padding: 10px;
  list-style-type: none;
}

ol {
  list-style-type: none;
}

ul li {
  margin: 20px 5px;
}

ul li a {
  color: #4690AB;
  font-style: normal;
}

ol li {
  margin: 10px;
}

ol li a{
  color: #46AC61;
  font-style: normal;
}

.mainBar {
  display: flex;
  justify-content: space-between;
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
}

.mainMenu {
  flex-basis: 15%;
}

.mainSectionItem {
  flex-basis: 85%;
}

.footerContainer {
  display: flex;
  justify-content: center;
}


.btn{
    text-decoration: none;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
.btn:hover{
    color: #1883ba;
    background-color: #ffffff;
}

