* {
  box_sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato";
  background: #23455F;
}

h1 {
  color: #fff;
  text-align: center;
}

.form__register {
  width: 98%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
}

.form__titulo {
  background: deepskyblue;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 100;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid crimson;
}

.contenedor-inputs {
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input {
  margin-bottom: 15px;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darkgray;
}

.input-42 {
  width: 42%;
}

.input-100 {
  width: 100%;
}

.btn__enviar {
  background: crimson;
  color: #fff;
  margin: auto;
  cursor: pointer;

}

.btn__reset {
  background: crimson;
  color: #fff;
  margin: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

.form__link {
  width: 100%;
  margin: 5px;
  font-size: 12px;
  text-align: center;
}
